[build]
builder = "nixpacks"

[build.nixpacks]
installCmds = ["npm install"]

[deploy]
startCommand = "npm start"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

